body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, sans-serif; /* regular */;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.outlined {
    color: white;
    text-shadow:
      -1px -1px 0 darkcyan,
       0   -1px 0 darkcyan,
       1px -1px 0 darkcyan,
       1px  0   0 darkcyan,
       1px  1px 0 darkcyan,
       0    1px 0 darkcyan,
      -1px  1px 0 darkcyan,
      -1px  0   0 darkcyan;
  }

#gratitude-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 50%; Making the form wider */
    width: 90%;
    margin-bottom: 20px;
    background: radial-gradient(#f0f0f0, #f0f0f0, #f0f0f0, transparent, transparent);
    padding: 40px;
}

#gratitude-form-wrapper form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

#gratitude-form-wrapper .message-row,
#gratitude-form-wrapper .extra-row,
#gratitude-form-wrapper .submit-row {
    display: flex;
    justify-content: center;
}

#gratitude-form-wrapper .message-row { width: 100%; }
#gratitude-form-wrapper .extra-row { width: 100%; }
#gratitude-form-wrapper .submit-row { width: 100%; }

#gratitude-form-wrapper .form-title {
    text-align: center; /* Center-align text for all children */
    position: relative;
    width: 100%; /* Take full width to center content */
}

h1.wall-title {
    color: darkturquoise;
    letter-spacing: 1px;
    margin: 0; /* Remove default margins to center properly */
}

#gratitude-form-wrapper h1 {
    padding-top: 25px;
}

#gratitude-form-wrapper h4 {
    margin: 10px auto; /* Remove default margins to center properly */
}

.extra-row {
    display: flex;
    width: 100%;
    gap: 10px;
}

.extra-row .optional {
    flex: 1; /* Each input takes equal space */
}

#gratitude-form-wrapper textarea, #gratitude-form-wrapper input, #gratitude-form-wrapper button#submit {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, sans-serif; /* regular */;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
#gratitude-form-wrapper textarea {
    padding: 10px;
    margin: 10px 10px;
}
#gratitude-form-wrapper input {
    padding: 10px 10px;
    margin: 10px 0;
}
#gratitude-form-wrapper button#submit {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    background-color: darkturquoise;
    color: white;
}

.input-row {
    display: flex;
    width: 100%;
    gap: 20px;
}

.input-row input {
    flex: 1; /* Each input takes equal space */
}

#messages-container {
    column-count: 4; /* 5 columns */
    column-gap: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    overflow: auto; /* Allows scrolling if content overflows */
    z-index: -1; /* Behind the form */
    padding: 20px; /* Add some padding */
}

.old-message {
    font-family: 'Gloria Hallelujah', cursive;
    opacity: 0.5;
    break-inside: avoid-column; /* Prevents breaking inside a message */
    margin-bottom: 10px; /* Space between messages */
    /* Keep other styles as they are */
}

.message {
    font-family: 'Gloria Hallelujah', cursive;
    opacity: 0.8;
    break-inside: avoid-column; /* Prevents breaking inside a message */
    margin-bottom: 5px; /* Space between messages */
    display: flex;
    flex-direction: column; /* Aligns children elements in a column */
    text-align: center;
}
.user-message {
    font-weight: bold;
}

/* Cobblestone effect */
.message:nth-child(odd) {
    margin-bottom: 5px; /* Adjust the offset value as needed */
}

.message p {
    margin-bottom: 0;
}

span#success {
    color: darkcyan;
    text-transform: uppercase;
}
span#error {
    color: firebrick;
}

@keyframes fadeOutAndUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-30px); /* Adjust as needed */
    }
}

.submitted {
    animation-duration: 0.5s; /* Adjust duration as needed */
    animation-fill-mode: forwards; /* Keeps the element in the state of the last animation frame */
    animation-name: fadeOutAndUp;
    animation-timing-function: ease-out;
}

.hidden {
    display: none;
    height: 0;
    width: 0;
}


.initials::before {
    content: '—'; /* Dash before initials */
    margin-right: 5px;
}

.initials, .location {
    width: 100%; /* Forces initials and location to take the full width */
    margin-top: 5px; /* Add some space above initials and location */
}

.initials {
    text-align: center;
    order: 1; /* Ensures initials come first */
    color: #666;
}

.location {
    margin-top: 0;
    padding: 0;
    text-align: center;
    font-size: 0.8em;
    order: 2; /* Ensures location comes after initials */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #666;
}

/* Define color classes that have sufficient contrast */
.color-01 { color: #e6194B; }
.color-02 { color: #3cb44b; }
.color-03 { color: goldenrod; }
.color-04 { color: royalblue; }
.color-05 { color: #f58231; }
.color-06 { color: navy; }
.color-07 { color: darkcyan; }
.color-08 { color: #f032e6; }
.color-09 { color: #72a910; }
.color-10 { color: gray; }
.color-11 { color: brown; }
.color-12 { color: indigo; }
.color-13 { color: #aa6e28; }
.color-14 { color: teal; }
.color-15 { color: firebrick; }
.color-16 { color: darkred; }
.color-17 { color: darkslategray; }
.color-18 { color: darkorange; }
.color-19 { color: darkolivegreen; }
.color-20 { color: darkgoldenrod; }
.color-21 { color: cornflowerblue; }

/* Footer Styles */
footer {
    position: fixed; /* Makes the footer stay at the bottom */
    left: 0;
    bottom: 0;
    width: 100%; /* Full width */
    background-color: #e0e0e0; /* Dark background for visibility */
    color: #999; /* Light text color for contrast */
    text-align: center; /* Centers the text */
    padding: 10px 0; /* Small padding for spacing */
    font-size: 0.8em; /* Smaller font size */
    opacity: 0.8;
}

@media only screen and (max-width: 768px) {
    #gratitude-form-wrapper {
        width: 400px;
    }

    #gratitude-form-wrapper form {
        width: 80%;
    }
    /* Adjust form rows to be 100% wide */
    #gratitude-form-wrapper .message-row,
    #gratitude-form-wrapper .extra-row,
    #gratitude-form-wrapper .submit-row {
        width: 100%;
    }

    /* Adjust the wall to have 2 columns */
    #messages-container {
        column-count: 2;
    }
}
    
#fixed-header {
    font-size: 0.8rem;
    display: none; 
    position: fixed;
    top: 0;
    margin: 0;
    text-align: center;
    z-index: 100; /* Ensures it stays on top of other elements */
    width: 100%;
    padding: 10px;
    /* background: radial-gradient(#f0f0f0, #f0f0f0, #f0f0f0, transparent, transparent); */
    background: linear-gradient(to bottom, #f0f0f0, transparent); Gradient fades from solid #f0f0f0 to transparent
}

#fixed-header.form-title {
    width: 100%;
    background-color: #f0f0f0;
    /* background: linear-gradient(to bottom, #f0f0f0, transparent); Gradient fades from solid #f0f0f0 to transparent */
}

#fixed-header.submitted {
    display: block; /* Show when .submitted is added */
    animation-duration: 0.5s; /* Adjust duration as needed */
    animation-fill-mode: forwards; /* Keeps the element in the state of the last animation frame */
    animation-name: fadeInAndDown;
    animation-timing-function: ease-out;
}

@keyframes fadeInAndDown {
    0% {
        opacity: 0;
        transform: translateY(-30px); /* Adjust as needed */
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}




.close-form-button {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.close-form-button img {
    display: block;
    width: 20px; /* Adjust as needed */
    height: 20px; /* Adjust as needed */
}